<!DOCTYPE html>
<html lang="en">

<% layout("layouts/boilerplate") %>

    <h1 class="text-center">Edit <%=camp.title%>
    </h1>
    <section class="col-6 offset-3 mt-4">

        <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST" class="needs-validation" novalidate>

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" placeholder="Title"
                    value="<%= camp.title %>" required>

            </div>

            <div class="mb-3">

                <label for="location" class="form-label">Location</label>
                <input class="form-control" type="text" name="campground[location]" placeholder="location" id="location"
                    value="<%= camp.location%>" required>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input class="form-control" type="number" name="campground[price]" id="price" value="<%= camp.price %>"
                    required>

            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" name="campground[image]" placeholder="example: https://image.com/image" id="image"
                    class="form-control" value="<%=camp.image%>" required>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="campground[description]" id="description" cols="30" rows="10"
                    required><%=camp.description%> </textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Edit Camp</button>
            </div>

        </form>
        <div class="mb-3">
            <a href="/campgrounds">Back to campgrounds</a> &nbsp;
            <a href="/campgrounds/<%=camp._id%>"> back to <%=camp.title%> </a>
        </div>

    </section>